.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.nav-menu {
  width: 70%;
  margin: 0 auto;
}

nav ul {
  text-align: left;
  display: flex;
}

nav ul li {
  padding: 10px 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sub-description {
  margin: 20px 0;
}

.calculator-face {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.problem {
  margin: 15px 0;
}

.cash-flow-inputs {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.result {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.label {
  padding: 0 20px;
}

.buttons {
  display: flex;
  max-width: 300px;
  height: 500px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.number {
  font-size: x-large;
  padding: 25px;
  margin: 10px 10px;
  border: 1px solid white;
  background-color: grey;
  color: white;
}

.calculated-result {
  display: flex;
  align-items: center;
}


